:root {
	--background: #0f1c21;
	--background-reverse: #122229;
	--background-more-reverse: #14262e;
	/* Primary */
	--primary-50: #4d2403;
	--primary-100: #6d3405;
	--primary-200: #8d4306;
	--primary-300: #ad5308;
	--primary-400: #cc6209;
	--primary-500: #d9833a;
	--primary-600: #e6a36b;
	--primary-700: #f3c39c;
	--primary-800: #f9dcc4;
	--primary-900: #fff4eb;
	/* Secondary */
	--secondary-50: #003f4b;
	--secondary-100: #005362;
	--secondary-200: #006b7e;
	--secondary-300: #0089a2;
	--secondary-400: #0097b2;
	--secondary-500: #33acc1;
	--secondary-600: #54b9cb;
	--secondary-700: #8acfdc;
	--secondary-800: #b0dfe7;
	--secondary-900: #e6f5f7;
	/* Primary Glass */
	--primary-glass-5: #cc6209f2;
	--primary-glass-10: #cc6209e6;
	--primary-glass-20: #cc6209cd;
	--primary-glass-30: #cc6209b3;
	--primary-glass-40: #cc62099a;
	--primary-glass-50: #cc620980;
	--primary-glass-60: #cc620967;
	--primary-glass-70: #cc62094d;
	--primary-glass-80: #cc620934;
	--primary-glass-90: #cc62091a;
	--primary-glass-95: #cc620916;
	/* Secondary Glass */
	--secondary-glass-5: #0097b2f2;
	--secondary-glass-10: #0097b2e6;
	--secondary-glass-20: #0097b2cd;
	--secondary-glass-30: #0097b2b3;
	--secondary-glass-40: #0097b29a;
	--secondary-glass-50: #0097b280;
	--secondary-glass-60: #0097b267;
	--secondary-glass-70: #0097b24d;
	--secondary-glass-80: #0097b234;
	--secondary-glass-90: #0097b21a;
	--secondary-glass-95: #0097b216;

	--red-50: #672a2a;
	--red-100: #873838;
	--red-200: #ae4848;
	--red-300: #df5c5c;
	--red-400: #f56565;
	--red-500: #f78484;
	--red-600: #f89898;
	--red-700: #fab8b8;
	--red-800: #fccfcf;
	--red-900: #fef0f0;
	--cyan-50: #164e63;
	--cyan-100: #155e75;
	--cyan-200: #0e7490;
	--cyan-300: #0891b2;
	--cyan-400: #06b6d4;
	--cyan-500: #22d3ee;
	--cyan-600: #67e8f9;
	--cyan-700: #a5f3fc;
	--cyan-800: #cffafe;
	--cyan-900: #ecfeff;
	--green-50: #012000;
	--green-100: #053004;
	--green-200: #0c4f0a;
	--green-300: #1d7a1b;
	--green-400: #30a72c;
	--green-500: #4dc749;
	--green-600: #78ed74;
	--green-700: #a0f09d;
	--green-800: #cff5ce;
	--green-900: #e4f7e3;
	--pure-white: #000000;
	--white: #080808;
	--black: #fbfbfb;
	--gray-50: #030712;
	--gray-100: #111827;
	--gray-200: #1f2937;
	--gray-300: #374151;
	--gray-400: #4b5563;
	--gray-500: #6b7280;
	--gray-600: #9ca3af;
	--gray-700: #d1d5db;
	--gray-800: #e5e7eb;
	--gray-900: #f3f4f6;
	--gray-950: #f9fafb;
	--black-10: #080808;
	--black-20: #111111;
	--black-30: #252525;
	--black-40: #303030;
	--black-50: #3d3d3d;
	--black-60: #4b4b4b;
	--black-70: #5c5c5c;
	--black-80: #6d6d6d;
	--black-90: #797979;
	--black-100: #868787;
	--black-200: #939494;
	--black-300: #a1a2a2;
	--black-400: #aeafaf;
	--black-500: #b9baba;
	--black-600: #c7c8c8;
	--black-700: #e2e2e2;
	--black-800: #ededed;
	--black-900: #f6f6f6;
	--black-950: #fbfbfb;
	--glass-5: #080808f2;
	--glass-10: #080808e6;
	--glass-20: #080808cc;
	--glass-30: #080808b3;
	--glass-40: #08080899;
	--glass-50: #08080880;
	--glass-60: #08080866;
	--glass-70: #0808084d;
	--glass-80: #08080833;
	--glass-90: #0808081a;
	--glass-95: #0808080d;
	--white-glass-5: #fbfbfbf2;
	--white-glass-10: #fbfbfbe6;
	--white-glass-20: #fbfbfbcc;
	--white-glass-30: #fbfbfbb3;
	--white-glass-40: #fbfbfb99;
	--white-glass-50: #fbfbfb80;
	--white-glass-60: #fbfbfb66;
	--white-glass-70: #fbfbfb4d;
	--white-glass-80: #fbfbfb33;
	--white-glass-90: #fbfbfb1a;
	--white-glass-95: #fbfbfb0d;
}
