/* Resource: https://fontserver.ir/font/VazirFD */
@font-face {
	font-family: 'Vazir-Latin';
	src: url('/fonts/Vazir-Thin-Latin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir-Latin';
	src: url('/fonts/Vazir-Light-Latin.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir-Latin';
	src: url('/fonts/Vazir-Regular-Latin.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir-Latin';
	src: url('/fonts/Vazir-Medium-Latin.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir-Latin';
	src: url('/fonts/Vazir-Bold-Latin.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/* Resource: https://fontserver.ir/font/VazirFD */
@font-face {
	font-family: 'Vazir';
	src: url('/fonts/Vazir-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/Vazir-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/Vazir-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/Vazir-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/Vazir-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Vazir';
	src: url('/fonts/Vazir-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Vibur';
	src: url('/fonts/Vibur-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
